.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

}
div{
    position: relative;
}

input{
    padding : 10;
    
    font-size: large;

}

button{
    padding : 10;
    background-color : #44444450;
    color: white;
    font-size: large;

}

#result{
    padding : 10;
    font-size: large;
    display: inline-block
    width: %100 !important;
    

}